body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* CABECERA */
.cabecera {
    margin: 10px;
    font-size: 14px;
}

/* TEXTO SUPERIOR */
.subtitulo {
    text-align: center;
    font-style: italic;
    color: #8a5a00;
    margin-bottom: 20px;
}

/* FORMULARIO */
form {
    width: 80%;
    margin: auto;
}

/* BLOQUES */
.bloque {
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 25px;
    position: relative;
}

/* COLORES EXACTOS */
.datos {
    background-color: #cfa24a;
}

.intereses {
    background-color: #f6c36b;
}

/* ETIQUETAS FLOTANTES */
.etiqueta {
    position: absolute;
    top: -10px;
    right: 20px;
    font-style: italic;
    font-size: 13px;
}

/* FILAS */
.fila {
    margin-bottom: 10px;
}

.fila label {
    display: inline-block;
    width: 230px;
    font-size: 13px;
}

.fila input,
.fila select,
.fila textarea {
    font-size: 12px;
}

/* LISTA MULTIPLE */
.lista {
    height: 70px;
}

/* BOTONES */
.botones {
    text-align: center;
    margin-top: 15px;
}

.botones input {
    background-color: #6b5220;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 40px;
    margin: 10px;
    font-size: 13px;
    cursor: pointer;
}
