body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


.cabecera {
    margin: 10px;
    font-size: 14px;
}


.subtitulo {
    text-align: center;
    font-style: italic;
    color: #8a5a00;
    margin-bottom: 20px;
}


form {
    width: 80%;
    margin: auto;
}


.bloque {
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 25px;
    position: relative;
}


.datos {
    background-color: #cfa24a;
}

.intereses {
    background-color: #f6c36b;
}


.etiqueta {
    position: absolute;
    top: -10px;
    right: 20px;
    font-style: italic;
    font-size: 13px;
}


.fila {
    margin-bottom: 10px;
}

.fila label {
    display: inline-block;
    width: 230px;
    font-size: 13px;
}

.fila input,
.fila select,
.fila textarea {
    font-size: 12px;
}


.lista {
    height: 70px;
}


.botones {
    text-align: center;
    margin-top: 15px;
}

.botones input {
    background-color: #6b5220;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 40px;
    margin: 10px;
    font-size: 13px;
    cursor: pointer;
}
